h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

img {
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.back {
  height: 445px;
  background-color: lightgreen;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px;
  width: 200 px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 2px;
}

.card-heading {
  padding-bottom: 1px;
}

.card-img {
  margin: auto;
  display: flex;
  width: 200px;
  border: 2px solid black;
  border-radius: 1px;
}

.t-body > tr {
}
